.infoWrapper {
  margin-left: 72px;
}

.title {
  color: var(--main, #101828);
  margin-bottom: 8px;
  font-family: Manrope;
  font-style: SemiBold;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.iconWrapper {
  display: flex;
  gap: 4px;
  align-items: center;
}

.textWrapper {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;

  color: var(--main, #101828);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.price {
  color: var(--button, #3470ff);
  margin-bottom: 32px;

  font-family: Manrope;
  font-style: SemiBold;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.description {
  color: var(--main, rgba(16, 24, 40, 1));
  margin-bottom: 68px;

  font-family: Manrope;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.subtitle {
  color: var(--main, rgba(16, 24, 40, 1));
  margin-bottom: 20px;

  font-family: Manrope;
  font-style: SemiBold;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.list {
  list-style: none;
  margin-bottom: 110px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--main, rgba(16, 24, 40, 1));

  font-family: Manrope;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
